<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="INFO_LEVEL" value="info"/>
        <Property name="ERROR_LEVEL" value="error"/>
        <Property name="TRACE_LEVEL" value="trace"/>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!--        <RollingFile name="RollingFile" fileName="logs/app.log"-->
        <!--                     filePattern="logs/app-%d{yyyy-MM-dd HH}.log">-->
        <!--            <PatternLayout>-->
        <!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
        <!--            </PatternLayout>-->
        <!--            <Policies>-->
        <!--                <SizeBasedTriggeringPolicy size="500MB"/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->
        <!--        <RollingFile name="RollingFile2" fileName="logs/app2.log"-->
        <!--                     filePattern="logs/app2-%d{yyyy-MM-dd HH}.log">-->
        <!--            <PatternLayout>-->
        <!--                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
        <!--            </PatternLayout>-->
        <!--            <Policies>-->
        <!--                <SizeBasedTriggeringPolicy size="500MB"/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->
    </Appenders>
    <Loggers>
        <AsyncLogger name="log.Log4j2Test" level="${INFO_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
        </AsyncLogger>
        <AsyncLogger name="RollingFile2" level="${TRACE_LEVEL}" additivity="false">
            <appender-ref ref="Console"/>
        </AsyncLogger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="RollingFile"/>-->
        </Root>
    </Loggers>
</Configuration>